<!DOCTYPE html>
</html>
    <head>
        <title>BANK Z</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header">
              <h2><%=page_title%></h2>
            <img src="/../images/zcash-logo-gold.png">
            </div>

            <div class="topnav">
                <a class="active" href="/allblocks">ALL BLOCKS</a>
                <a href="/pendingTransaction">PENDING TRANSACTIONS</a>
                <a href="/allcheques">ALL CHEQUES</a>

            </div>
            <div class="page-container">
