<!DOCTYPE html>
</html>
<head>
    <title>Sampath Chain</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">-->

    <link href="/../css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/../js/all.js"></script>
    <script type="text/javascript" src="/../js/moment.js"></script>


<!--
        <link rel="icon"  type="image/png" href="../images/bank-logo-light.png"> sizes="16x16">-->

    <link rel="apple-touch-icon" sizes="180x180" href="/../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/favicon-16x16.png">
    <link rel="manifest" href="/../images/site.webmanifest">
    <link rel="mask-icon" href="/../images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
<div id="wrapper">


<!--    <div id="mySidenav" class="sidenav" style="width: 16%;" >
      <img  src="../images/bank-logo-light.png" style="padding-left:10%;padding-bottom: 5%;padding-top:10%;" >
        &lt;!&ndash; <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>&ndash;&gt;
        <a  class=" active" href="/allblocks" style="padding-left:10%;" onclick="check1()" ><i class="fa fa-home"></i>    All Blocks</a>
        <a  class="navBar" href="/processingTransaction"  style="padding-left:10%;"><i class="fa fa-upload"></i>  Processing Transaction</a>
        <a  class="navBar" href="/allpromizes" style="padding-left:10%;"  onclick="check2()"><i class="fa fa-money"></i>   All Promizes</a>
        <a  class="navBar" href="/alltransaction" style="padding-left:10%;"><i class="fa fa-window-restore"></i>  All Transaction</a>
    </div>-->

    <script>

    </script>

    <div class="content-wrap">
        <div class="page-container">
        </div>


