<!DOCTYPE html>
</html>
    <head>
        <title>BANK Z</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
<style>
    body {margin:0}

    .icon-bar {
        width: 90px;
        background-color: #555;
    }

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }

    .icon-bar a:hover {
        background-color: #000;
    }

    .active {
        background-color: #FFA500 !important;
    }

    .sidebar {
        float: left;
        width: 5%;
        height:100%;
    }

   .content-wrap {
        float: right;
        width: 95%;
       height:100%;
    }
</style>
    <body>
        <div id="wrapper">
            <div class="page-header">
            <!--  <h2><%=page_title%></h2>-->
                <h2>Sampath Bank</h2>
            <img src="/../images/Sampath-Bank-PLC-logo.png">
            </div>

   <!--         <div class="topnav">
                <a class="active" href="/allblocks">ALL BLOCKS</a>
                <a href="/pendingTransaction">PENDING TRANSACTIONS</a>
                <a href="/allcheques">ALL CHEQUES</a>

            </div>-->
<div class="sidebar">
    <div class="icon-bar">
        <a class="active" href="/allblocks"><i class="fa fa-home"></i></a>
        <a href="/allblocks"><i class="fa fa-navicon"></i></a>
        <a href="/pendingTransaction"><i class="fa fa-window-restore"></i></a>
        <a href="/allcheques"><i class="fa fa-money"></i></a>
        <a href="#"><i class="fa fa-upload"></i></a>
    </div>
</div>

            <div class="content-wrap">
                <div class="page-container">
                             </div>
