<!DOCTYPE html>
</html>
<head>
    <title>Sampath Bank</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/../css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/../js/all.js"></script>
</head>

<body>
<div id="wrapper">
    <div class="page-header" id="header">


        <span style="font-size:30px;cursor:pointer"onclick="openNav()">&#9776;</span>
        <h2><%= page_title %></h2>
<!--        <h2 style="color: white">Sampath Bank</h2>-->
        <img id="logo" src="/../images/bank-logo-light.png">
    </div>

    <!--         <div class="topnav">
                 <a class="active" href="/allblocks">ALL BLOCKS</a>
                 <a href="/pendingTransaction">PENDING TRANSACTIONS</a>
                 <a href="/allcheques">ALL CHEQUES</a>

             </div>-->

<!--
    <div class="sidebar">
        <div id="sidebar" class="icon-bar">
            <nav id="nav">
            <a class="active" href="/allblocks" onclick=""><i class="fa fa-home"></i></a>
            <a id="abcd"  href="/allblocks"><i class="fa fa-navicon"></i></a>
            <a  href="/pendingTransaction"><i class="fa fa-window-restore"></i></a>
            <a  href="/allcheques"><i class="fa fa-money"></i></a>
            <a  href="/alltrasdisplay"><i class="fa fa-upload"></i></a>
            </nav>
        </div>
    </div>
-->


<!--    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a  class="active" href="/allblocks" id="a1" onclick="onclicka1()"><i class="fa fa-home"></i>All Blocks</a>
        <a  href="/pendingTransaction" id="a2" onclick="onclicka2()"><i class="fa fa-window-restore">Processing Transaction</i></a>
        <a  href="/allcheques" id="a3"><i class="fa fa-money"></i>All Cheques</a>
        <a  href="/alltrasdisplay" id="a4"><i class="fa fa-upload"></i>All Transaction</a>


    </div>-->

<!--
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a  class="navBar active" href="/allblocks" id="a1" onclick="onclicka1()"><i class="fa fa-home"></i></a>
        <a  class="navBar" href="/pendingTransaction" id="a2" onclick="onclicka2()"><i class="fa fa-window-restore"></i></a>
        <a  class="navBar" href="/allcheques" id="a3"><i class="fa fa-money"></i></a>
        <a  class="navBar" href="/alltrasdisplay" id="a4"><i class="fa fa-upload"></i></a>


    </div>
-->
<!--    <div id="mySidenav" class="sidenav">
        &lt;!&ndash;    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">&ndash;&gt;
        &lt;!&ndash; <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>&ndash;&gt;
        <a  class=" active" href="/allblocks" ><img src="../images/block.png" height="80px" width="120px"/><br>     All Blocks</a>
        <a  class="navBar" href="/pendingTransaction"  ><img src="../images/process.png" height="80px" width="80px"/><br>Processing Transaction</a>
        <a  class="navBar" href="/allcheques" ><img src="../images/cheque1.png" height="80px" width="80px"/><br> All Cheques</a>
        <a  class="navBar" href="/alltrasdisplay" ><img src="../images/transection.png" height="80px" width="80px"/><br>  All Transaction</a>
    </div>-->
    <script>


        /*function onclicka1() {
            var a1 = document.getElementById('a1');
            var a2 = document.getElementById('a2');
            var a3 = document.getElementById('a3');
            var a4 = document.getElementById('a4');
        }*/

        /*var d = document.getElementById("div1");
        d.className += " otherclass";*/

   /*     var header = document.getElementById("mySidenav");
        var btns = header.getElementsByClassName("navBar");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }*/


    </script>

    <div class="content-wrap">
        <div class="page-container">
        </div>
