<!DOCTYPE html>
</html>

    <head>
        <title>BANK Z</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header">
              <h2><%=page_title%></h2>
<!--              < src="https://www.oracle.com/webfolder/s/brand/assets/i/specimens/identity/logo/badge-color-print.gif">-->
            </div>

            <div class="topnav">
                <a class="active" href="/allblocks">ALL BLOCKS</a>
                <a href="/pendingTransaction">PENDING TRANSACTIONS</a>
                <a href="/allcheques">ALL CHEQUES</a>
                <input type="text" placeholder="Search..">

            </div>
            <div class="page-container">
